<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>24</string>
					<key>EndingLineNumber</key>
					<string>134</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>134</string>
					<key>Timestamp</key>
					<string>738167321.024428</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Sheet/EditItineraryInputSheet.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    .fon</string>
				<key>leading</key>
				<string>                Spacer()
                Text("Agenda?")
</string>
				<key>trailing</key>
				<string>t(.title)
                    .foregroundStyle(.white)
                    .padding(15)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>27</string>
					<key>EndingLineNumber</key>
					<string>153</string>
					<key>StartingColumnNumber</key>
					<string>4</string>
					<key>StartingLineNumber</key>
					<string>153</string>
					<key>Timestamp</key>
					<string>738167357.494863</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Sheet/EditItineraryInputSheet.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            Button("Sav</string>
				<key>leading</key>
				<string>        VStack(alignment: .center) {
            HStack {
    </string>
				<key>trailing</key>
				<string>e") {
                    Task{
                        if let user = profileVm.currentUser{
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>47</string>
					<key>EndingLineNumber</key>
					<string>101</string>
					<key>StartingColumnNumber</key>
					<string>35</string>
					<key>StartingLineNumber</key>
					<string>101</string>
					<key>Timestamp</key>
					<string>738167371.921262</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Sheet/ItineraryInputSheet.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>                    VStack(alignment: .center) {
                        Button("Submit") {
                            Task{</string>
				<key>trailing</key>
				<string>
                                let success =  await profileVm.addItinerary(to: trip, with: itinerary, photo: profileVm.newPhoto, image: profileVm.avatarImage ?? UIImage())
                                if success {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>118</string>
					<key>EndingLineNumber</key>
					<string>131</string>
					<key>StartingColumnNumber</key>
					<string>109</string>
					<key>StartingLineNumber</key>
					<string>131</string>
					<key>Timestamp</key>
					<string>738167389.573281</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Sheet/ItineraryInputSheet.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>                      print("💦\(profileVm.avatarImage ?? UIImage())")
                       print("📸Succcesffullly selected image")
                      profileVm.newPhoto = Photo()</string>
				<key>trailing</key>
				<string>
//                                showPhotoViewSheet.toggle()

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>82</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>81</string>
					<key>Timestamp</key>
					<string>738859723.609929</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/DataModels/TripModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>        }
    }
</string>
				<key>trailing</key>
				<string>    func removeFromTripArray(trip: TripModel) {
        DispatchQueue.main.async {
            if let tripIndex = self.tripArr.firstIndex(where: { $0.id == trip.id }) {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>164</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>163</string>
					<key>Timestamp</key>
					<string>738892971.4149899</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Views/TripsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                VStack(spacing: 20) {
</string>
				<key>leading</key>
				<string>        NavigationStack {
            ScrollView {
</string>
				<key>trailing</key>
				<string>                    ForEach(alltrips,id: \.id) { trip in
                            NavigationLink {
                                //profileVm.selectedTrip = trip
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>181</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>180</string>
					<key>Timestamp</key>
					<string>738894542.356486</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Views/TripsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                                            Spacer()
</string>
				<key>leading</key>
				<string>                                                .foregroundStyle(Color.white)
                                                .bold()
</string>
				<key>trailing</key>
				<string>                                            
                                            
                                            Button() {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>59</string>
					<key>EndingLineNumber</key>
					<string>44</string>
					<key>StartingColumnNumber</key>
					<string>52</string>
					<key>StartingLineNumber</key>
					<string>44</string>
					<key>Timestamp</key>
					<string>738257864.440616</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/Sheet/TripsInputSheet.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            ZStack {
                if !pending {
                    Color(hex: "1F1F1F")</string>
				<key>trailing</key>
				<string>
                        .ignoresSafeArea()
                    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WeOut/DataModels/TripModel.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
